.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    height: 30px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    transition-timing-function: ease-in;
    transition: all 0.5s;

}

.logo{
    position: fixed;
    left: 20px;
    width: 80px;
    top: 5px;
}

.avatar{
    position: fixed;
    right: 20px;
    width: 30px;
    top: 5px;
}
